.close{
position: absolute;
top: 15px;
right: 35px;
color: #f1f1f1;
font-size: 40px;
font-weight: bold;
transition: .3s;
}

.close:hover, .close:focus{
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

#MyImg{
	border-radius: 5px;
	cursor: pointer;
	transition: .3s;
}

#MyImg:hover{
	opacity: .7;
}

.modal{
	display: none;
	position: fixed;
	z-index: 1;

	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0);
	background-color: rgba(0, 0, 0, .9);
}

.modal-content{
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

@media only screen and (max-width: 700px){
	.modal-content{
		width: 100%;
	}
}

.caption{
	margin: auto;
	display: block;
	width: 80%;
	text-align: center;
	max-width: 700px;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

.modal-content, .caption{
	animation: zoom;
	animation-duration: .6s;
}


@keyframes zoom {
	from { transform:scale(0);}
	to {  transform:scale(1);}
}

